{% extends 'base.html'%} 
{% block styles %} {{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}"> {% endblock %}
{% block content%}

<body>
    <div class="bg_image">
        <div class="p-3 p-md-5 m-md-3 text-center">
            <div class="col-md-12 p-lg-5 mx-auto my-5">
                <h2 class="display-4">Kwash Blog</h2><br>
                <p class="lead">{{Quote.quote}}</p>
                <p>Author: <i>{{Quote.author}}</i></p>
                <div id="buttons d-block mx-auto">
                    <a class="btn btn-outline-secondary" href="/new_blog">Write a blog</a>&nbsp;&nbsp;
    
                    <a class="btn btn-outline-secondary" href="/blogs">View Blogs</a>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}